---
import Layout from "@/layouts/Layout.astro";
import ListItem from "@/components/cv/ListItem.astro";
import TechStack from "@/components/cv/TechStack.astro";

import Logo from "@/assets/icons/logo.svg";
import IconLinkedIn from "@/assets/icons/linkedin.svg";
import IconGitHub from "@/assets/icons/github.svg";
import IconDev from "@/assets/icons/dev.svg";
import IconBehance from "@/assets/icons/behance.svg";

import { Button } from "@/components/ui/button";

const CLASS_H2 =
    "text-stone-500 dark:text-stone-400 text-4xl font-thin print:font-light tracking-wider";
import { cn, CLASS_TEXT_COLOR_SECONDARY } from "@/utils/tailwindHelper";
---

<Layout>
    <Button>Button</Button>
    <div
        class="mx-auto flex max-w-4xl grid-cols-[1fr_3fr] flex-col gap-20 lg:grid xl:max-w-7xl xl:grid-cols-[1fr_2fr]"
    >
        <div class="top-0 space-y-10 lg:sticky">
            <Logo
                class={cn(
                    "mx-auto size-32 sm:size-40",
                    CLASS_TEXT_COLOR_SECONDARY,
                )}
            />
            <h1 class="text-center text-4xl sm:text-5xl">
                <span class="sr-only">Curriculum vitae of </span><span
                    >Henry Wu</span
                >
            </h1>
            <p
                class={cn(
                    CLASS_TEXT_COLOR_SECONDARY,
                    "italic font-serif text-center text-balance",
                )}
            >
                <span class="whitespace-nowrap">Front-end Developer</span> with expertise
                in <span class="whitespace-nowrap"
                    >Graphic and Industrial Design</span
                >
            </p>
            <hr
                class="w-full border-t border-stone-600 dark:border-stone-400"
            />
            <ul
                aria-label="Social Media"
                class="flex flex-wrap justify-center gap-x-10 gap-y-1 lg:flex-col lg:justify-start"
            >
                {
                    [
                        {
                            label: "LinkedIn",
                            href: "https://www.linkedin.com/in/puhsuanwu",
                        },
                        { label: "GitHub", href: "https://github.com/hwupu" },
                        { label: "Dev", href: "https://dev.to/hwupu" },
                        {
                            label: "Behance",
                            href: "https://www.behance.net/phwu",
                        },
                    ].map((i) => (
                        <li>
                            <a
                                href={i.href}
                                class="flex w-fit items-center gap-2"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {() => {
                                    switch (i.label) {
                                        case "LinkedIn":
                                            return (
                                                <IconLinkedIn class="icon" />
                                            );
                                        case "GitHub":
                                            return <IconGitHub class="icon" />;
                                        case "Dev":
                                            return <IconDev class="icon" />;
                                        case "Behance":
                                            return <IconBehance class="icon" />;
                                        default:
                                            return null;
                                    }
                                }}
                                {i.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="space-y-20">
            <section aria-labelledby="profile-title" class="space-y-6">
                <h2 id="profile-title" class={CLASS_H2}>Profile</h2>
                <p>
                    A well-rounded developer and mentor with 5+ years of
                    experiences, skilled in delivering impactful results through
                    technical expertise and strategic planning.
                </p>
            </section>
            <section aria-labelledby="projects-title" class="space-y-6">
                <h2 id="projects-title" class={CLASS_H2}>Projects</h2>
                <ul class="space-y-6">
                    <li class="italic">(preparing)</li>
                </ul>
            </section>
            <section aria-labelledby="experience-title" class="space-y-6">
                <h2 id="experience-title" class={CLASS_H2}>Experience</h2>
                <ul class="space-y-10">
                    <li>
                        <section
                            aria-labelledby="experience-item-1"
                            class="space-y-4"
                        >
                            <ListItem
                                id="experience-item-1"
                                as="div"
                                title="Senior Front-end Engineer"
                                company="Lexionlu Design Firm"
                                companyUrl="https://www.lexionlu.com"
                                from="2021-08"
                                to="Present"
                                location="Taipei, Taiwan"
                            />
                            <ul
                                aria-label="description"
                                class="ml-8 list-outside list-disc space-y-4"
                            >
                                <li class="space-y-2">
                                    <p>
                                        Developed WCAG-compliant web-app for a
                                        major airline, and successfully served
                                        over 6+ million users by implementing
                                        ARIA attributes, semantic HTML, keyboard
                                        navigation, and conducting automated and
                                        manual accessibility testing.
                                    </p>
                                    <TechStack
                                        list={[
                                            "Nuxt 2",
                                            "Vue 2",
                                            "Tailwind 1",
                                            "swiper",
                                            "v-calendar",
                                            "focus-trap",
                                            "vue-mask",
                                            "portal-vue",
                                        ]}
                                    />
                                </li>
                                <li class="space-y-2">
                                    <p>
                                        Engineered a modern UI component library
                                        for a major bank's web-view mobile app,
                                        streamlining development and improving
                                        maintainability by leveraging a headless
                                        library and Storybook in collaboration
                                        with design and native teams.
                                    </p>
                                    <TechStack
                                        list={[
                                            "Typescript",
                                            "Vue 3",
                                            "Shadcn/vue (Radix Vue)",
                                            "Tailwind 3",
                                            "Storybook 8",
                                            "vueuse",
                                            "internationalized",
                                            "vee-validate",
                                            "zod",
                                            "sortablejs",
                                            "v-calendar",
                                            "swiper",
                                            "vue-pdf",
                                            "vue-currency-input",
                                            "lottiefiles",
                                            "echarts",
                                            "amcharts",
                                            "class-variance-authority",
                                            "clsx",
                                            "tailwind-merge",
                                            "eslint",
                                            "prettier",
                                            "vite",
                                        ]}
                                    />
                                </li>
                                <li class="space-y-2">
                                    <p>
                                        Established an efficient DevOps process
                                        for website development, achieving a 90%
                                        reduction in deployment time by
                                        automating the deployment to Ubuntu with
                                        Docker and GitHub Actions, and utilizing
                                        Traefik as a reverse proxy for optimized
                                        traffic management.
                                    </p>
                                    <TechStack
                                        list={[
                                            "Python",
                                            "Ubuntu",
                                            "Docker Compose",
                                            "GitHub Actions",
                                            "Traefik",
                                            "Nginx",
                                            "Node.js",
                                            "Flask",
                                            "Google Cloud",
                                            "Compute Engine",
                                            "Artifact Registry",
                                            "Let's Encrypt",
                                            "DNS",
                                        ]}
                                    />
                                </li>
                                <li class="space-y-2">
                                    <p>
                                        Addressed vulnerability concerns for
                                        Wagtail CMS by implementing nonce-based
                                        CSP configurations and establishing
                                        secure coding practices across all
                                        projects.
                                    </p>
                                    <TechStack
                                        list={[
                                            "Python",
                                            "Django/Wagtail CMS",
                                            "IIS",
                                        ]}
                                    />
                                </li>
                            </ul>
                        </section>
                    </li>
                    <li>
                        <section
                            aria-labelledby="experience-item-2"
                            class="space-y-4"
                        >
                            <ListItem
                                id="experience-item-2"
                                as="div"
                                title="Deputy General Manager"
                                company="Siam P&W Technic"
                                companyUrl="https://siampw.com"
                                from="2017-03"
                                to="2021-05"
                                location="Samutprakan, Thailand"
                            />
                            <ul
                                aria-label="description"
                                class="ml-8 list-outside list-disc space-y-4"
                            >
                                <li class="space-y-2">
                                    <p>
                                        Reduced 60% of IT operational cost by
                                        insourcing projects and by introducing
                                        best practices to cloud solutions, such
                                        as AWS, Azure AD, Exchange Online, or
                                        Cloudflare proxy, etc.
                                    </p>
                                    <TechStack
                                        list={[
                                            "AWS Route53",
                                            "Azure Active Directory",
                                            "Exchange Online",
                                            "Cloudflare",
                                            "Microsoft Clarity",
                                        ]}
                                    />
                                </li>
                                <li class="space-y-2">
                                    <p>
                                        Expanded market and increased revenue by
                                        30%, by establishing a team for digital
                                        UV printing process.
                                    </p>
                                    <TechStack
                                        list={[
                                            "Adobe Photoshop",
                                            "Adobe Illustrator",
                                            "CorelDraw",
                                            "Onxy RIP",
                                            "ColorGate RIP",
                                        ]}
                                    />
                                </li>
                                <li class="space-y-2">
                                    <p>
                                        Gained 10% more profit by implementing
                                        ISO 9001 and 5S quality control systems
                                        to standardize pricing models and to
                                        reduce quality loss.
                                    </p>
                                    <TechStack
                                        list={[
                                            "ISO 9001:2015",
                                            "5S",
                                            "Microsoft Office",
                                        ]}
                                    />
                                </li>
                            </ul>
                        </section>
                    </li>
                    <li>
                        <section
                            aria-labelledby="experience-item-3"
                            class="space-y-4"
                        >
                            <ListItem
                                id="experience-item-3"
                                as="div"
                                title="Intership"
                                company="Tagtoo Co., Ltd."
                                companyUrl="https://tagtoo.com"
                                from="2016-06"
                                to="2017-01"
                                location="Taipei, Taiwan"
                            />
                            <ul
                                aria-label="description"
                                class="ml-8 list-outside list-disc space-y-4"
                            >
                                <li class="space-y-2">
                                    <p>(internal system)</p>
                                    <TechStack list={["Vue"]} />
                                </li>
                            </ul>
                        </section>
                    </li>
                    <li>
                        <section
                            aria-labelledby="experience-item-4"
                            class="space-y-4"
                        >
                            <ListItem
                                id="experience-item-4"
                                as="div"
                                title="Internship"
                                company="IT Service Center, NCTU"
                                companyUrl="https://it.nycu.edu.tw"
                                from="2013-02"
                                to="2013-12"
                                location="Hsinchu, Taiwan"
                            />
                            <ul
                                aria-label="description"
                                class="ml-8 list-outside list-disc space-y-4"
                            >
                                <li class="space-y-2">
                                    <p>(internal system)</p>
                                    <TechStack
                                        list={[
                                            "HTML",
                                            "CSS",
                                            "JavaScript",
                                            "PHP",
                                            "MySQL",
                                        ]}
                                    />
                                </li>
                            </ul>
                        </section>
                    </li>
                </ul>
            </section>
            <section aria-labelledby="education-title" class="space-y-6">
                <h2 id="education-title" class={CLASS_H2}>Education</h2>
                <ul class="space-y-6">
                    <ListItem
                        id="education-item-1"
                        institution="National Chao Tung University"
                        degree="Master of Industrial Design"
                        from="2016-09"
                        to="2017-01"
                    >
                        <Fragment slot="extra">Not graduated</Fragment>
                    </ListItem>
                    <ListItem
                        id="education-item-2"
                        institution="National Chao Tung University"
                        degree="Bachelor of Computer Science"
                        from="2012-09"
                        to="2016-06"
                    >
                        <Fragment slot="extra">GPA 3.51</Fragment>
                    </ListItem>
                    <ListItem
                        id="education-item-3"
                        institution="Thai-Chinese International School"
                        from="08/2008"
                        to="05/2012"
                    >
                        <Fragment slot="subtitle"
                            >Accredited by WASC (AP Curriculum)</Fragment
                        >
                        <Fragment slot="extra">GPA 3.56</Fragment>
                    </ListItem>
                </ul>
            </section>
        </div>
    </div>
</Layout>
